<!DOCTYPE html>
<html lang="es" >
<head>
	<meta charset="utf-8">
	<title>{% block title %}{% endblock %}</title>
	<link rel="shortcut icon" href="{{url_for('static', filename='imagenes/MSX-3.gif')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/base.css')}}">
</head>
<body>

<div id="Fondo">
	<header>
		<div id="Cabecera">
			<h1><span style="padding-right:10px;">{% block baner %}{% endblock %}</span></h1>
		</div>

	</header>

	<div class="txt">
		<section class="txt">
			{% block contenido %}{% endblock%}
		</section>

		<footer>
			Copyright © 2018 <a href="https://josecalderon359933504.wordpress.com/">José Miguel</a>
		</footer>

	</div>

	
	<aside id="linkList">
		<div id="linkList2">
			<div id="lselect">
				<ul>
					<li><a href="index.html">Inicio</a></li>
				</ul>
			</div>
		</div>
	</aside>
</div>
</body>
</html>