{% extends "base.html" %}
{% block title %}buscador de juegos{% endblock %}
{% block baner %}Juegos{% endblock %}
{% block contenido %}
    {% if met %}
        <h3>buscador de juegos</h3>
        <form action="/" method="POST">
            <fieldset>
                <legend>Buscar:</legend>
                <label>Por nombre:</label><br/><input type="text" name="busqueda"><br/><br/>
                <label>Por categoria:</label><br/>
                <select name="recate">
                    <option value=""></option>
                    {% for nombre in cate -%}
                        <option value="{{nombre}}">{{nombre}}</option>
                    {% endfor -%}
                </select><br/><br/>
                <input type="submit" value="Enviar">
            </fieldset>
        </form>
    {% else %}
        <h3>buscador de juegos</h3>
        <form action="/" method="POST">
            <fieldset>
                <legend>Buscar:</legend>
                <label>Por nombre:</label><br/><input type="text" name="busqueda" value="{{busq}}"><br/><br/>
                <label>Por categoria:</label><br/>
                <select name="recate">
                    <option value=""></option>
                    {% for nombre in cate -%}
                        {% if recate == nombre %}
                            <option value="{{nombre}}" selected>{{nombre}}</option>
                        {% else %}
                            <option value="{{nombre}}">{{nombre}}</option>
                        {% endif %}
                    {% endfor -%}
                </select><br/><br/>
                <input type="submit" value="Enviar">
            </fieldset>
        </form>
        <h3>Juegos coincidentes</h3>
        <table>
            <tr>
                <th colspan="3">Resultado</th>
            </tr>
            <tr>
                <th>Nombre</th>
                <th>Desarrollador</th>
                <th>Mas</th>
            </tr>
            {% for juego in lista -%}
                <tr>
                    <td class="center">{{juego.nombre}}</td>
                    <td class="center">{{juego.desarrollador}}</td>
                    <td class="center"><a href="/juego/{{juego.id}}">Detalle</a></td>
                </tr>
            {% endfor -%}
        </table>
    {% endif %}
{% endblock %}